<h2><fa-icon [icon]="faFutbol" size="lg"></fa-icon> {{this.questionnaireTitle}}
</h2>

<div>
  <div class="alert alert-info" role="alert">
    <fa-icon [icon]="faSmileBeam" size="lg"></fa-icon> If you do not like the decision, you can start again
    <button class="btn" [routerLink] ="['/questionnaires', this.questionnaireId]"> Restart <fa-icon [icon]="faUndoAlt" size="xs"></fa-icon> </button>
  </div>

</div>

<br/>

<div class="card ">
  <div class="card-body">
    <ngx-org-chart [nodes]="nodes" direction="vertical" ></ngx-org-chart>
  </div>
</div>


