.btn {
  background-color: green; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 4px 8px; /* Some padding */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
