<h3>Questionnaires</h3>

<div class="questionnaires">
        <table class="table table-striped table-hover table-sm">
            <tr>
                <th>Title</th>
                <th>Created on</th>
                <th></th>
            </tr>
            <tbody>
                <tr *ngFor="let questionnaire of questionnaireList?.questionnaires">
                    <td>{{questionnaire.title}}</td>
                    <td>{{questionnaire.createdDateTime | date:'medium'}}</td>
                    <td><button type="button" class="btn btn-success btn-sm" (click)="start(questionnaire.id);">Start</button></td>
                </tr>
            </tbody>
        </table>
</div>
