<h2><fa-icon [icon]="faFutbol" size="lg"></fa-icon> {{this.questionnaireName}} </h2>

<br/>

<div class="container-fluid">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <h6 *ngIf="this.question"><span id="qid"></span ><span  *ngIf="!isLastQuestion">{{this.counter}}.</span> {{this.question.value}} <fa-icon [icon]="faSmileBeam" size="lg" *ngIf="isLastQuestion"></fa-icon></h6>
      </div>
      <div class="modal-body">
          <div class="col-xs-3 offset-xs-5">
             <div id="loadbar" style="display: none;">
                <div class="blockG" id="rotateG_01"></div>
                <div class="blockG" id="rotateG_02"></div>
                <div class="blockG" id="rotateG_03"></div>
                <div class="blockG" id="rotateG_04"></div>
                <div class="blockG" id="rotateG_05"></div>
                <div class="blockG" id="rotateG_06"></div>
                <div class="blockG" id="rotateG_07"></div>
                <div class="blockG" id="rotateG_08"></div>
            </div>
        </div>

        <div *ngIf="!isLastQuestion">
          <div class="quiz" id="quiz" data-toggle="buttons">
            <label class="element-animation1 btn btn-lg btn-primary btn-block" (click)="answer(true)">
              <span class="btn-label" ><fa-icon [icon]="faChevronRight" size="lg" ></fa-icon></span> Yes </label>
            <label class="element-animation2 btn btn-lg btn-primary btn-block" (click)="answer(false)">
              <span class="btn-label"><fa-icon [icon]="faChevronRight" size="lg" ></fa-icon></span> No </label>
          </div>
        </div>
        <div *ngIf="isLastQuestion">
          <div class="card" style="width: 29rem;">
            <img class="card-img-top" *ngIf="question.imageUrl" [src]="question.imageUrl" alt="Card image cap">
            <div class="card-body">
              <a [routerLink] ="['/questionnaires/question', question.id]">
                <button type="button" class="btn btn-success btn-sm" >Go to decision tree</button>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>



