@import '~ngx-org-chart/_theming.scss';


.navbar{
  margin-bottom:20px;
}

.btn {
  font-size: 14px;
  border-radius: 9px;
}

.btn-form {
  width:70px;
}

.ngx-question-selected {
  border-color: green;
  background-color: lightgreen;
}
